<%- include('header.ejs') %>

    <!-- 
        <div class="col-md-3">
        <div class="text-center">
          <img class="img-circle" src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Choose photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
    -->
    <form method="POST" action="/edit-portfolio" class="form-horizontal" role="form">
    <div class="container">
    <h1>Edit Portfolio</h1>
    <hr>
    <div class="row">
      <!-- left column -->
                    <% if(typeof (portfolio.image.data) != 'undefined') { %>
                        <div class="col-md-3">
                            <div class="text-center">
                               <img class="avatar img-circle" src="data:image/png;base64, <%= (portfolio.image.data.toString('base64')) %>" alt="avatar" width=100 height=100/>
                              <h6>Upload a different photo...</h6>
          
                              <input type="file" name = "picture" class="form-control">
                                        
                            </div>
                        </div>
                    <% }else{ %>
                        <div class="col-md-3">
                            <div class="text-center">
                                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar" width=100 height=100> 
                                <h6>Upload a photo...</h6>
          
                                <input type="file" name = "picture" class="form-control">                            
                            </div>
                        </div>
                    <% } %>      
      
      
      <!-- edit form column -->
        
        
          <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input class="form-control" 
             id="name" name="name" type="text" value="<%= portfolio.name %>" required autofocus>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Abstract:</label>
            <div class="col-lg-8">
              <input class="form-control" 
             id="abstract" name="abstract" type="text" value="<%= portfolio.abstract %>" autofocus>
            </div>
          </div>

          <!--<div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>-->
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button type="submit" class="btn btn-primary">
                                    Save Changes
                                </button>
              <span></span>
              <a class="" href="/home">Cancel</a>
            </div>
          </div>
        
      </div>
  </div>
  </form>
</div>

</html>